﻿
@{
    ViewBag.Title = "GetRetailerIncentiveReportData";
}

<style>
    .selected {
        background-color: aqua;
    }

    .excelBtn {
        color: #f8f9fa !important;
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        border-radius: .25rem !important;
    }

    .swal2-icon {
        margin: 0px !important;
    }
</style>

<br />
<div class="card">
    <div class="card-body">

        <div class="row">

            <div class="col-sm-2">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Brand</b></span>
                    <select class="form-control" id="ddlBrand">
                        <option value="0">Select A Brand</option>
                        <option value="1">WALTON</option>
                        <option value="2">MARCEL</option>
                    </select>
                </div>
            </div>
            @*try*@
            <div class="col-sm-2">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="type"><b>Type</b></span>
                    <select class="form-control" style="width: 60%" multiple="multiple" id="ddlType">
                    </select>
                    @*<select class="js-example-responsive" multiple="multiple" style="width: 75%"></select>*@
                    @*<select class="form-control" id="ddlType" multiple="multiple">
                        </select>*@
                </div>
            </div>
            @*try*@
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Start Date</b></span>
                    <input type="date" class="form-control" id="startDate" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>End Date</b></span>
                    <input type="date" class="form-control" id="endDate" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group mb-3">
                    <input type="button" class="btn btn-danger btn-group-lg col-md-4" id="BtnSearch" value="Search" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">

        <h3>Total Count: <span class="badge bg-success" id="totalCount"></span></h3>

    </div>
    <div class="card-body">
        <div class="row">
            <div style="height: 550px; overflow-x:scroll;overflow-x: auto">
                <table class="table cell-border table-responsive table-hover table-striped" id="recordTable" style="display:none;">
                    <thead>
                        <tr>

                            <th>DigitechCode</th>
                            <th>DistributorNameCellCom</th>
                            <th>Zone</th>
                            <th>RetailerName</th>
                            <th>RetailerAddress</th>
                            <th>PhoneNumber</th>
                            <th>PaymentNumber</th>
                            <th>PaymentNumberType</th>
                            <th>Model</th>
                            <th>ImeiOne</th>
                            <th>ImeiTwo</th>
                            <th>IsReturn</th>
                            <th>RetailerAmount</th>

                        </tr>
                    </thead>
                    <tbody id="recordTableBody">
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>DigitechCode</th>
                            <th>DistributorNameCellCom</th>
                            <th>Zone</th>
                            <th>RetailerName</th>
                            <th>RetailerAddress</th>
                            <th>PhoneNumber</th>
                            <th>PaymentNumber</th>
                            <th>PaymentNumberType</th>
                            <th>Model</th>
                            <th>ImeiOne</th>
                            <th>ImeiTwo</th>
                            <th>IsReturn</th>
                            <th>RetailerAmount</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        //$('#recordTable').DataTable();

        $("#ddlType").select2({
            width: 'resolve', // need to override the changed default
            theme: "classic"
        });

        @*$(function () {
            $("#ddlBrand").change(function () {
                debugger;
                 var selectedItem = $(this).val();
                var ddlType = $("#ddlType");
              var statesProgress = $("#states-loading-progress");
             statesProgress.show();
             $.ajax({
                 cache: false,
                 type: "GET",
                 url: '@Url.Action("GetAllDistributorType", "MDMS_IMEI_Upload")',
                 data: { "ddlBrand": selectedItem },
                    success: function (data) {
                        ddlType.html('');
                        $.each(data, function (id, option) {
                            ddlType.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });*@

        $("#ddlBrand").change(function () {
                $.ajax({

            type: "GET",
            url: '@Url.Action("GetAllDistributorType", "MDMS_IMEI_Upload")',
            //data: "{}",
            data: { ddlBrand: $("#ddlBrand").val() },
            success: function (data) {
                debugger;
                var s = '<option value="0">Select A Brand</option>';
                for (var i = 0; i < data.Data.length; i++) {
                    s += '<option value="' + data.Data[i].DistributorTypeId + '">' + data.Data[i].DistributorTypeId + '</option>';
                }
                $("#ddlType").html(s);
            }
            });
        });


        $.ajax({

            type: "GET",
            url: '@Url.Action("GetAllDistributorType", "MDMS_IMEI_Upload")',
            //data: "{}",
            data: { ddlBrand: $("#ddlBrand").val() },
            success: function (data) {
                debugger;
                var s = '<option value="0">ALL</option>';
                for (var i = 0; i < data.Data.length; i++) {
                    s += '<option value="' + data.Data[i].DistributorTypeId + '">' + data.Data[i].DistributorTypeId + '</option>';
                }
                $("#ddlType").html(s);
            }
        });

        $("#BtnSearch").click(function () {
            debugger;
            var fromDate = $("#startDate").val();
            var todate = $("#endDate").val();
            var ddlBrand = $("#ddlBrand").val();

            var ddlType = $('#ddlType :selected').map((_, e) => e.value).get().toString();
            var x = ddlType.toString();
            //$('#ddlType :selected').each(function () {
            //    ddlType[$(this).val()] = $(this).val();
            //});

            //var ddlType = $("#ddlType").val();
            var dataList = JSON.stringify({ fromDate: fromDate, todate: todate, ddlBrand: ddlBrand, ddlType: ddlType });
            if (fromDate != "" && todate != "") {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    url: '@Url.Action("GetRetailerIncentiveReportData", "MDMS_IMEI_Upload")',
                    data: dataList,
                    beforeSend: function () {
                        $('#cover-spin').show();
                    },
                    success: function (data) {
                        //debugger;
                        var imeiDataList = data.Data.length;
                        $("#totalCount").text(imeiDataList);
                        $("#recordTableBody").html("");
                        $('#recordTable').DataTable().clear().destroy();
                        if (imeiDataList > 0) {
                            for (var i = 0; i < imeiDataList; i++) {


                                $("#recordTableBody").append('<tr>' +

                                    '<td style="width: 30%">' +
                                    data.Data[i].DigitechCode +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].DistributorNameCellCom +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].Zone +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].RetailerName +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].RetailerAddress +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].PhoneNumber +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].PaymentNumber +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].PaymentNumberType +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].Model +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].ImeiOne +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].ImeiTwo +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].IsReturn +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].RetailerAmount +
                                    '</td>' +
                                    '</tr>');
                            }
                            $('#recordTable').show();
                            var table = $('#recordTable').DataTable();

                            new $.fn.dataTable.Buttons(table, {
                                buttons: [
                                    { extend: 'excel', className: 'excelBtn', title: 'Retailer Incentive Report', text: 'Click For Excel Export' }
                                ]
                            });

                            table.buttons(0, null).container().prependTo(
                                table.table().container()
                            );

                        } else {
                            swal.fire({
                                title: "Message",
                                text: "Data Not Found",
                                icon: "warning",
                                button: "OK",
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            });
                        }
                        $('#cover-spin').hide();
                    }
                });
            }

        });
    });
</script>






