﻿
@{
    ViewBag.Title = "GetSRIncentiveReportData";
}

<style>
    .selected {
        background-color: aqua;
    }

    .excelBtn {
        color: #f8f9fa !important;
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        border-radius: .25rem !important;
    }

    .swal2-icon {
        margin: 0px !important;
    }
</style>

<br />
<div class="card">
    <div class="card-body">

        <div class="row">

            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Brand</b></span>
                    <select class="form-control" id="ddlBrand">
                        <option>WALTON</option>
                        <option>MARCEL</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Start Date</b></span>
                    <input type="date" class="form-control" id="startDate" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>End Date</b></span>
                    <input type="date" class="form-control" id="endDate" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <input type="button" class="btn btn-danger btn-group-lg col-md-3" id="BtnSearch" value="Search" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">

        <h3>Total Count: <span class="badge bg-success" id="totalCount"></span></h3>

    </div>
    <div class="card-body">
        <div class="row">
            <div style="height: 550px; overflow-x:scroll;overflow-x: auto">
                <table class="table cell-border table-responsive table-hover table-striped" id="recordTable" style="display:none;">
                    <thead>
                        <tr>

                            <th>DigitechCode</th>
                            <th>Zone</th>
                            <th>DistributorNameCellCom</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>PaymentNumber</th>
                            <th>PaymentNumberType</th>
                            <th>Model</th>
                            <th>ImeiOne</th>
                            <th>ImeiTwo</th>
                            <th>IsReturn</th>
                            <th>SRAmount</th>

                        </tr>
                    </thead>
                    <tbody id="recordTableBody">
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>DigitechCode</th>
                            <th>Zone</th>
                            <th>DistributorNameCellCom</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>PaymentNumber</th>
                            <th>PaymentNumberType</th>
                            <th>Model</th>
                            <th>ImeiOne</th>
                            <th>ImeiTwo</th>
                            <th>IsReturn</th>
                            <th>SRAmount</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        //$('#recordTable').DataTable();

        $("#BtnSearch").click(function () {
            debugger;
            var fromDate = $("#startDate").val();
            var todate = $("#endDate").val();
            var ddlBrand = $("#ddlBrand").val();
            var dataList = JSON.stringify({ fromDate: fromDate, todate: todate, ddlBrand: ddlBrand });
            if (fromDate != "" && todate != "") {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    url: '@Url.Action("GetSRIncentiveReportData", "MDMS_IMEI_Upload")',
                    data: dataList,
                    beforeSend: function () {
                        $('#cover-spin').show();
                    },
                    success: function (data) {
                        debugger;
                        var imeiDataList = data.Data.length;
                        $("#totalCount").text(imeiDataList);
                        $("#recordTableBody").html("");
                        $('#recordTable').DataTable().clear().destroy();
                        if (imeiDataList > 0) {
                            for (var i = 0; i < imeiDataList; i++) {


                                $("#recordTableBody").append('<tr>' +

                                    '<td style="width: 30%">' +
                                    data.Data[i].DigitechCode +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].Zone +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].DistributorNameCellCom +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].Name +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].Phone +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].PaymentNumber +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].PaymentNumberType +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].Model +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].ImeiOne +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].ImeiTwo +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].IsReturn +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].SRAmount +
                                    '</td>' +
                                    '</tr>');
                            }
                            $('#recordTable').show();
                            var table = $('#recordTable').DataTable();

                            new $.fn.dataTable.Buttons(table, {
                                buttons: [
                                    { extend: 'excel', className: 'excelBtn', title: 'SR Incentive Report', text: 'Click For Excel Export' }
                                ]
                            });

                            table.buttons(0, null).container().prependTo(
                                table.table().container()
                            );

                        } else {
                            swal.fire({
                                title: "Message",
                                text: "Data Not Found",
                                icon: "warning",
                                button: "OK",
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            });
                        }
                        $('#cover-spin').hide();
                    }
                });
            }

        });
    });
</script>



