﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .selected {
        background-color: aqua;
    }

    .excelBtn {
        color: #f8f9fa !important;
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        border-radius: .25rem !important;
    }

    .swal2-icon {
        margin: 0px !important;
    }

    ::placeholder {
        color: red;
        opacity: 1;
    }
</style>

<br />
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Dealer Code</b></span>
                    <input type="text" class="form-control" id="EbsCode" placeholder="Enter Deale Code" maxlength="15" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="DealerCode" placeholder="Alternate Code" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="DealerName" placeholder="Deale Name" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="District" placeholder="District" readonly="readonly" />
                </div>
            </div>

        </div>
    </div>
</div>
<br />

<div class="card" id="retailerdiv">
    <div class="card-body">

        <div class="row">

            <div class="col-sm-9">
                <div class="input-group mb-7">
                    <span class="input-group-text" id="type"><b>Retailer Info</b></span>
                    <select class="form-control" style="width:70%;" id="ddlRetailer">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="card" id="retailerdiv1" @*style="display:none;"*@>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="type"><b>Retailer</b></span>
                    <input type="text" class="form-control" id="Retailer" readonly="readonly" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="type"><b>Retailer Address</b></span>
                    <input type="text" class="form-control" id="RetailerAddress" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="type"><b>Retailer Phone</b></span>
                    <input type="text" class="form-control" id="RetailerPhone" readonly="readonly" />
                </div>
            </div>

        </div>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Phone Number</b></span>
                    <input type="text" class="form-control" id="BpPhoneNumber" placeholder="Enter Bp Phone Number" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Bp Name</b></span>
                    <input type="text" class="form-control" id="BpName" placeholder="Enter Bp Name" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="chkStatus">Status</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-check form-switch">
                    <button type="button" class="btn btn-success btn-group-lg col-md-6" id="btnBpSave">Save Data</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">

        <h3>Total Count: <span class="badge bg-success" id="totalCount"></span></h3>

    </div>
    <div class="card-body">
        <div class="row">
            <div style="height: 550px; overflow-x:scroll;overflow-x: auto;width: 100%; overflow-y: auto">
                <table class="table cell-border table-responsive table-hover table-striped" id="recordTable" style="display:none;">
                    <thead>
                        <tr>

                            <th>rn</th>
                            <th>District</th>
                            <th>DistributorName</th>
                            <th>DistributorCode</th>
                            <th>AlternateDistributorCode</th>
                            <th>RetailerName</th>
                            <th>RetailerAddress</th>
                            <th>bpname</th>
                            <th>bpphonenumber</th>

                        </tr>
                    </thead>
                    <tbody id="recordTableBody">
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>rn</th>
                            <th>District</th>
                            <th>DistributorName</th>
                            <th>DistributorCode</th>
                            <th>AlternateDistributorCode</th>
                            <th>RetailerName</th>
                            <th>RetailerAddress</th>
                            <th>bpname</th>
                            <th>bpphonenumber</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        //$('#recordTable').DataTable();
        LoadActiveBP();

        $("#ddlRetailer").select2({

        });

    $.ajax({

        type: "GET",
        url: '@Url.Action("GetAll_WDS_RetailerList", "WDMS_IMEI_Upload")',
        //data: "{}",
        data: { ddlRetailer: $("#ddlRetailer").val() },
        success: function (data) {
            debugger;
            var s = '';//<option value="0">ALL</option>
            for (var i = 0; i < data.Data.length; i++) {

                s += '<option value="' + data.Data[i].Id + '">' + data.Data[i].RetailerName + '=>' + data.Data[i].RetailerAddress + '=>' + data.Data[i].PhoneNumber +'</option>';

            }
            $("#ddlRetailer").html(s);
        }
    });

    $("#ddlRetailer").change(function () {

        debugger;
        var DropownString = $('#ddlRetailer :selected').map((_, e) => e.text).get().toString().split("=>");
        var RetailerName = DropownString[0];
        $("#Retailer").val(RetailerName);
        var RetailerAddress = DropownString[1];
        $("#RetailerAddress").val(RetailerAddress);
        var RetailerPhoneNumber = DropownString[2];
        $("#RetailerPhone").val(RetailerPhoneNumber);

    });


    $("#BpPhoneNumber").change(function(){
            //source: function (request, response) {
            //debugger;
                var str = $("#BpPhoneNumber").val();
                if (str.length == 11) {
                    $.ajax({
                        url: '@Url.Action("GetABpByMobileNumber", "BpSetup")',
                        dataType: "json",
                        data: { BPPhoneNumber: $("#BpPhoneNumber").val() },
                        success: function (data) {
                            debugger;
                            if (data.Data != null) {
                                $("#BpName").val(data.Data.BPName);
                                $("#EbsCode").val(data.Data.AlternateDistributorCode);
                                $("#DealerCode").val(data.Data.DistributorCode);
                                $("#DealerName").val(data.Data.DistributorName);
                                $("#District").val(data.Data.District);
                                $("#Retailer").val(data.Data.RetailerName);
                                $("#RetailerAddress").val(data.Data.RetailerAddress);
                                $("#RetailerPhone").val(data.Data.RetailerPhoneNumber);

                                if ($.trim(data.Data.Active) == 'true') {

                                    document.getElementById('flexSwitchCheckDefault').checked = true;

                                } else {
                                    document.getElementById('flexSwitchCheckDefault').checked = false;
                                }
                            }
                            else {
                                alert("New Bp");
                            }

                        }
                    });
                }

        });


    $("#EbsCode").change(function(){

            var str = $("#EbsCode").val();
                //if (str.length == 5) {
                    $.ajax({
                        url: '@Url.Action("GetADealerByEbsCode", "BpSetup")',
                        dataType: "json",
                        data: { DealerCode: $("#EbsCode").val() },
                        success: function (data) {
                            debugger;
                            $("#DealerCode").val(data.Data.DealerCode);
                            $("#DealerName").val(data.Data.DealerName);
                            $("#District").val(data.Data.City);
                        }
                    });
                //}

                //else {
                //    $("#DealerName").val('');
                //    $("#District").val('');
                //}

        });

    });

    $("#btnBpSave").click(function () {
        //debugger;
        var EbsCode = $("#EbsCode").val();
        var DealerCode = $("#DealerCode").val();
        var DealerName = $("#DealerName").val();
        var District = $("#District").val();
        var RetailerID = $("#ddlRetailer").val();
        var DropownString = $('#ddlRetailer :selected').map((_, e) => e.text).get().toString().split("=>");
        var RetailerName = DropownString[0];
        //var x = ddlPhn.toString();
        //var RetailerName = $("#ddlRetailer").text();
        var RetailerAddress = DropownString[1];
        var RetailerPhoneNumber = DropownString[2];
        var BpPhoneNumber = $("#BpPhoneNumber").val();
        var BpName = $("#BpName").val();

        if ($('#flexSwitchCheckDefault').is(':checked')) {

            var IsActive = true;
        }
        else {
            var IsActive = false;
        }

        //var BpPhoneNumber = $("#BpPhoneNumber").val();

        var dataList = JSON.stringify({ EbsCode: EbsCode, DealerCode: DealerCode, DealerName: DealerName, District: District, RetailerID: RetailerID, RetailerName: RetailerName, RetailerAddress: RetailerAddress, RetailerPhoneNumber: RetailerPhoneNumber, BpPhoneNumber: BpPhoneNumber, BpName: BpName, IsActive: IsActive});
        if (DealerCode != "" && BpPhoneNumber != "" && BpName!="" && RetailerName != "") {
            debugger;
                $.ajax({
                 type: 'POST',
                 contentType: 'application/json',
                 dataType: 'json',
                 url: '@Url.Action("AddOrEditBP", "BpSetup")',
                 data: dataList,
                 beforeSend: function () {
                     $('#cover-spin').show();
                 },
                    success: function (data) {
                        //alert("Total Row Affected: " + data.saveDataCount);
                        swal.fire({
                            title: "Saved Successfully",
                            //text: "Total Row Affected: " + data.saveDataCount,
                            icon: "success",
                            button: "OK",
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        });
                        $('#cover-spin').hide();
                        location.reload();
                }
             });
            }

        });

    function LoadActiveBP () {

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    url: '@Url.Action("GetAllActiveBP", "BpSetup")',
                    beforeSend: function () {
                        $('#cover-spin').show();
                    },
                    success: function (data) {

                        var imeiDataList = data.Data.length;
                        $("#totalCount").text(imeiDataList);
                        $("#recordTableBody").html("");
                        $('#recordTable').DataTable().destroy();
                        if (imeiDataList > 0) {
                            for (var i = 0; i < imeiDataList; i++) {

                                $("#recordTableBody").append('<tr>' +

                                    '<td style="width: 10%">' +
                                    data.Data[i].rn +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].District +
                                    '</td>' +
                                    '<td style="width: 50%">' +
                                    data.Data[i].DistributorName +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].DistributorCode +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].AlternateDistributorCode +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].RetailerName +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].RetailerAddress +
                                    '</td>' +
                                    '<td style="width: 30%">' +
                                    data.Data[i].bpname +
                                    '</td>' +
                                    '<td>' +
                                    data.Data[i].bpphonenumber +
                                    '</td>' +
                                    '</tr>');
                            }
                            $('#recordTable').show();
                            var table = $('#recordTable').DataTable();

                            new $.fn.dataTable.Buttons(table, {
                                buttons: [
                                    { extend: 'excel', className: 'excelBtn', title: 'Active Brand Promotor List', text: 'Click For Excel Export' }
                                ]
                            });

                            table.buttons(0, null).container().prependTo(
                                table.table().container()
                            );

                        } else {
                            swal.fire({
                                title: "Message",
                                text: "Data Not Found",
                                icon: "warning",
                                button: "OK",
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            });
                        }
                        $('#cover-spin').hide();
                    }
                });


        }

</script>





